/*
 * MODALS
 */

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    opacity: 0;
    transition: 0.5s display;
}

.modal {
    display: -webkit-inline-box;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    text-align: initial;
    width: 49%;
    height: 80%;
}

.modal-active {
    opacity: 1;
}

.modal-card, .card-shadow {
    padding: 0;
    width: 100%;
    background: white;
    color: black;
}

#modal .card-body {
  padding: 0;
  margin: 0;
  height: 67.2vh;
  white-space: normal;
  background-color: whitesmoke;
}

#modal .menu-list {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  float: left;
  height: 68vh;
  width: 27%;
  top: 90%;
  white-space: pre-line;
  line-height: 1.3em;
  text-indent: 0;
  background-color: #CC0033;
  overflow-y: auto;
  overflow-x: hidden;
}

#modal .modal-menu-item {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 100%;
  padding: 0 0.6em 1.5em;
  margin: 4px 0;
  color: white;
  font-size: 12px;
  font-weight: 600;
  font-family: Open Sans, Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

#modal .modal-menu-item:hover {
  background-color: #B8002E;
  transition: .1s;
}

#modal img.bar-icon {
    width: 0;
}

#modal .modal-menu-item.active {
  background-color: #AF002C;
}

#modal .config-data {
  margin: 0 4px;
  font-family: Myriad Pro;
  font-size: 17px;
  text-align: right;
  font-style: oblique;
}

#modal .card-footer {
  position: fixed;
  top: 92%;
  background-color: white;
  height: 45px;
  clear: both;
}

#modal .menu-options {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  /*height: 62vh;
  width: 79%;*/
}

#modal .config-title {
  font-size: 27px;
  padding-left: 11px;
  margin: 8px 0 15px 0;
  color: #464646;
  font-family: Myriad Pro Light;
}

#modal .child {
  color: inherit;
  list-style: none;
  width: 107%;
  margin: 0 0 0 -59px;
}

#modal .child li {
  background-color: transparent !important;
  height: 20px;
  padding: 2px 19px 10px !important;
}

#modal .data-input {
  width: 88%;
  height: 30px;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:1px solid #CCC;
  text-indent: 5px;
}

#modal .option-config-list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Lucida Sans Unicode;
  font-size: 13.5px;
  color: #4A4A4A;
}

#modal .option-config-item {
  padding: 0;
  margin: 0;
}

#modal .option-config-list li:nth-child(odd) {
  background-color: #ECECEC;
  padding: 9px 19px;
}

#modal .option-config-list li {
  padding: 9px 19px;
  margin: 0;
}

#modal .option-config-list li:hover {
  background-color: #DEDEDE;
  transition: .2s;
}

#modal .option-config-list li:nth-child(odd):hover {
  background-color: #DEDEDE;
  transition: .2s;
}

@media (max-width: 1170px) {
  #modal .menu-list {
    width: 49px;
    line-height: .7em;
    transition: .1s;
    overflow-y: auto;
  }

  #modal .menu-options {
    width: 90.7%;
  }

  #modal .modal-menu-item {
    color: transparent;
    height: 55px;
    transition: .3s;
    padding-top: 13px;
  }

  #modal img.bar-icon {
    width: 38px;
    transition: .3s;
    margin: 0;
  }
}

@media (max-width: 1076px) {
  #modal .menu-options {
    width: 89.7%;
  }
}

@media (max-width: 972px) {
  #modal .menu-options {
    width: 88.7%;
  }
}

@media (max-width: 885px) {
  #modal .menu-options {
    width: 87.7%;
  }
}

@media (max-width: 815px) {
  #modal .menu-options {
    width: 86.7%;
  }
}

@media (max-width: 753px) {
  #modal .menu-options {
    width: 84.7%;
  }
}

@media (max-width: 660px) {
  #modal .menu-options {
    width: 82.7%;
  }
}

@media (max-width: 580px) {
  #modal .menu-options {
    width: 80.7%;
  }
}

@media (max-width: 520px) {
  #modal .menu-options {
    width: 78.7%;
  }
}

@media (max-width: 470px) {
  #modal .menu-options {
    width: 76.7%;
  }
}

@media (max-width: 429px) {
  #modal .menu-options {
    width: 74.7%;
  }
}

@media (min-width: 1170px) {
  #modal .menu-list {
    width: 27%;
    transition: .3s;
  }

  #modal .menu-options {
    width: 73%;
    transition: .3s;
  }
}

@media (max-height: 375px) {
  #modal .menu-options {
    height: 54vh;
    transition: .3s;
  }
}

@media (min-height: 375px) {
  #modal .menu-options {
    height: 65vh;
    transition: .3s;
  }
}
