<div id='layout' class='content pure-g'>
	<!-- HEADER -->
	<div id='header' class='pure-u-1-1'>
		<div class='pure-menu pure-menu-horizontal'>
			<div class='pure-menu-heading'>
				<img class='heading-logo' src='img/logo.png' />
				<h1 class='title'>Web Response</h1>
			</div>
		</div>
	</div>

	<!-- NAVIGATION -->
	<div id='nav' class='pure-u-1-1'>
		<div class='pure-g'>
			<div class='pure-u-1-1'>
				<div class='nav-inner-top'>
					<div class='pure-g'>
						<div class='pure-u-1-2'>
							<ul class='pure-menu pure-menu-horizontal'>
								<li class='pure-menu-item'>
									<a href='#' class='pure-menu-link pure-menu-selected'>
										Folders
									</a>
								</li>
								<li class='pure-menu-item'>
									<a href='#' class='pure-menu-link'>
										Categories
									</a>
								</li>
							</ul>
						</div>
						<div class='pure-u-1-2'>
							<ul class='pure-menu pure-menu-horizontal admin-controls'>
								<li class='pure-menu-item'>
									<a href='#' class='pure-menu-link'>
										Options
									</a>
								</li>
								<li class='pure-menu-item'>
									<a href='#' class='pure-menu-link' ng-click="logOut()">
										Logout
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class='nav-inner-bottom'>
					<ul class='pure-menu pure-menu-horizontal'>
						<li class='pure-menu-item'>
							<div ng-click="setFolder('inbox')" class='pure-menu-link'>
								Inbox
							</div>
						</li>
						<li class='pure-menu-item'>
							<div ng-click="setFolder('spam')" class='pure-menu-link'>
								Spam
							</div>
						</li>
						<li class='pure-menu-item'>
							<div ng-click="setFolder('trash')" class='pure-menu-link'>
								Trash
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- MESSAGE LISTING -->
	<div id='list' ng-controller="MessageListCtrl" class='pure-u-12-24'>
		<div class='message-list-controls'>
			<div class='search-bar'>
				<form class='search-container'>
					<input ng-model="query" type="search" class='search-input' placeholder="Search messages..." />
					<span class='fa fa-search search-icon'></span>
				</form>
			</div>
			<div class='pure-menu pure-menu-horizontal'>
				<ul class='pure-menu-list'>
					<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
						<div class="pure-menu-link">
							Filter
						</div>
						<ul class="pure-menu-children">
							<li class="pure-menu-item" ng-click="setListFilter('All')">
								<div class="pure-menu-link">All</div>
							</li>
							<li class="pure-menu-item" ng-click="setListFilter('Read')" >
								<div href="#" class="pure-menu-link">Read</div>
							</li>
							<li class="pure-menu-item" ng-click="setListFilter('Unread')" >
								<div href="#" class="pure-menu-link">Unread</div>
							</li>
							<li class="pure-menu-item" ng-click="setListFilter('Unreplied')">
								<div href="#" class="pure-menu-link">Unreplied</div>
							</li>
						</ul>
					</li>
					<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
						<div class="pure-menu-link">
							Action
						</div>
						<ul class="pure-menu-children">
							<li class="pure-menu-item" ng-click="#">
								<div class="pure-menu-link">Reply</div>
							</li>
							<li class="pure-menu-item" ng-click="#" >
								<div href="#" class="pure-menu-link">Forward</div>
							</li>
						</ul>
					</li>
					<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
						<div class="pure-menu-link">
							Mark
						</div>
						<ul class="pure-menu-children">
							<li class="pure-menu-item" ng-click="setMessagesUnread(false)">
								<div class="pure-menu-link">Read</div>
							</li>
							<li class="pure-menu-item" ng-click="setMessagesUnread(true)" >
								<div href="#" class="pure-menu-link">Unread</div>
							</li>
						</ul>
					</li>
					<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
						<div class="pure-menu-link">
							Move To
						</div>
						<ul class="pure-menu-children">
							<li class="pure-menu-item" ng-click="moveMessageTo(message, 'spam')" >
								<div href="#" class="pure-menu-link">Spam</div>
							</li>
							<li class="pure-menu-item" ng-click="moveMessageTo(message, 'trash')" >
								<div href="#" class="pure-menu-link">Trash</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

		<div class='message-list'>

			<div ng-repeat="message in messages | filter:statusFilter" class='message-item pure-g' ng-class="{'message-item-unread': message.status.unread, 'message-item-selected': message.status.selected, 'message-item-open': message.status.open}" ng-click="setCurMessage(message)">
				<div class='pure-u-1-24'>
					<input type='checkbox' class='select' ng-model="message.status.selected" />
				</div>
				<div class='pure-u-9-24'>
					<h5 class='message-email'>{{message.email}}</h5>
				</div>
				<div class='pure-u-10-24'>
					<h5 class='message-subject'>{{message.subject}}</h5>
				</div>
				<div class='pure-u-4-24'>
					<h5 class='message-date'>{{message.date}}</h5>
				</div>
			</div>

		</div>

	</div>

	<!-- MESSAGE CONTENT -->
	<div id='main' ng-controller="MessageViewCtrl" class='pure-u-12-24'>
	<div ng-show="(curMessage != null)" class='convo-content'>
		<div class='header'>
			<span class="title">{{curMessage.subject}}</span>
			<span class="meta-info">Who, when</span>
			<div class="technical-info">
				<ul>
					<li>Browser:</li>
					<li>something:</li>
				</ul>
			</div>
		</div>
		<div class='list'>
			<div class='card convo-card card-shadow'>
				<div class='card-header'>
					<span class='title'>{{curMessage.email}}</span>
					<span class='note'>Feb 10 2016 3:43 PM</span>
				</div>
				<div class='card-body message-content-body'>{{curMessage.content}}</div>
			</div>
			<div class='card card-shadow'>
				<div class='card-header'>
					<span class='title'>jpc256@rutgers.edu</span>
					<span class='note'>Feb 10 2016 3:43 PM</span>
				</div>
				<div class='card-body'>
					<p>Ah</p>
					<p>Yes</p>
				</div>
				<div class='card-footer'>
					<button class="card-button">Reply</button>
					<button class='card-button'>Forward</button>
				</div>
			</div>

			<!--Forwarding modal. Incomplete, no guaranteed behavior.-->

			<div class="message-forward pure-g" style="border: 1px solid black">
				<form class="pure-form pure-form-stacked pure-u-1-1">
						<input class="message-forward-text-field pure-input-1" id="message-forward-recipients" type="email" placeholder="Recipients" />
						<input class="message-forward-text-field pure-input-1" id="message-forward-subject" type="text" placeholder="Subject" value="FWD: {{curMessage.subject}}" /> <!--The user can change the subject if they want-->
						<textarea class="message-forward-text-field pure-input-1" id="message-forward-body" placeholder="Additional message"></textarea>
					<button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Send</button>
				</form>
			</div>

		</div>
	</div>
</div>
