<div class="card modal-card card-shadow">
    <card-header>
        <div class='title'>Options</div>
    </card-header>
    <card-body>
        <h1>Why, hello thereyaaaaaaaaaaaaaaaaaaaaaaaaaaa</h1>
        <p>Lorizzle pot dolizzle sit amizzle, gangster bling bling elit. Nullam sapien velizzle, aliquet volutpizzle, suscipizzle quis, gravida vizzle, black. Pellentesque shizznit tortizzle. eros. Dope izzle dolizzle fizzle shiz tempizzle gangsta. Crunk pellentesque nibh et shizzle my nizzle crocodizzle. Sheezy things tortizzle. Pellentesque fizzle rhoncus nisi. Pizzle shiz habitasse platea ma nizzle. Yippiyo dapibus. Curabitizzle tellizzle check out this, pretium eu, brizzle fizzle, its fo rizzle mammasay mammasa mamma oo sa, nunc. Break yo neck, yall suscipizzle. Integer semper i saw beyonces tizzles and my pizzle went crizzle sizzle purus.</p>
    </card-body>
    <card-footer>
        <div class="button-group float-right">
            <button class="card-button">Cancel</button>
            <button class="card-button">Save</button>
        </div>
    </card-footer>
</div>
