<div id="modal" class="card modal-card card-shadow">
  <card-header>
      <div class='title'>Options</div>
  </card-header>
  <card-body>
    <!-- <div class="menu-bar"> -->
      <ul class="menu-list">
        <li class="modal-menu-item"><a href="#" class="modal-menu-link">Account Information</a></li>
        <li class="modal-menu-item"><a href="#" class="modal-menu-link">General Settings</a></li>
        <li class="modal-menu-item"><a href="#" class="modal-menu-link">Administrative Controls</a></li>
        <li class="modal-menu-item"><a href="#" class="modal-menu-link">Help</a></li>
      </ul>
    <!-- </div> -->
  </card-body>
  <card-footer>
      <div class="button-group float-right">
          <button class="card-button">Cancel</button>
          <button class="card-button">Save</button>
      </div>
  </card-footer>
</div>
